* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px;
  background-size: 100%; }

.home {
  background-image: url("../images/background.jpg"); }

h1 {
  text-align: center;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 50px;
  margin: 0px;
  color: #333333; }

h2 {
  color: #EEEEEE;
  text-align: center;
  font-size: 18px;
  margin: 25px;
  font-weight: normal;
  position: relative;
  top: -20px; }

#logo {
  opacity: 0.9;
  height: 100px;
  width: 260px; }

.authenticate {
  position: relative;
  top: -20px;
  color: #111111;
  background: linear-gradient(359deg, #CCCCCC, #DDDDDD);
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 99px;
  height: 35px;
  width: 280px;
  text-align: center;
  padding-top: 6px;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  text-decoration: none; }
  .authenticate a:visited {
    color: #111111; }

a.connect {
  text-decoration: none; }

.connectHover {
  box-shadow: 0 0 6px black; }

#home, #homeHalo {
  background-color: #FF6F00;
  height: 350px;
  width: 500px;
  margin: 0 auto;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-top: 10%;
  box-shadow: 0 0 3px 10px #FF6F00; }

#homeHalo {
  box-shadow: 0 0 50px 10px white; }

#homeLogo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px; }

.hidden {
  display: none; }

header {
  text-align: left;
  font-size: 14px; }

button {
  display: inline;
  font-size: 12px; }

.authenticated {
  display: inline; }

#forms {
  float: right;
  clear: both;
  display: inline-block;
  position: relative;
  top: -4px; }

form {
  display: inline; }

#token {
  display: none; }

.sound {
  display: inline-block;
  clear: both;
  z-index: 1;
  position: relative; }

#wrapper {
  text-align: center;
  clear: both;
  padding-top: 20px; }

iframe {
  height: 170px; }

.number {
  text-align: center;
  display: inline;
  font-size: 16px;
  height: 10px; }

#number {
  text-align: center;
  margin-bottom: 20px; }

@media only screen and (min-width: 319px) and (max-width: 439px) {
  header {
    margin-right: 5%;
    margin-left: 5%; } }

@media only screen and (max-width: 539px) {
  #home, #homeHalo {
    height: 400px;
    width: 300px; } }

@media only screen and (min-width: 439px) and (max-width: 639px) {
  header {
    margin-right: 25.5%;
    margin-left: 25.5%; } }

@media only screen and (min-width: 639px) and (max-width: 955px) {
  header {
    margin-right: 17%;
    margin-left: 17%; } }

@media only screen and (min-width: 955px) and (max-width: 1255px) {
  header {
    margin-right: 12.5%;
    margin-left: 12.5%; } }

@media only screen and (min-width: 1255px) {
  header {
    margin-right: 8%;
    margin-left: 8%; } }
