 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px;
}

h1 {
  text-align: center;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 50px;
  margin: 0px;
  color: #333333;
}

h2 {
  color: #EEEEEE;
  text-align: center;
  font-size: 18px;
  margin: 25px;
  font-weight: normal;
}

.authenticate {
  color: #111111;
  background: linear-gradient(359deg, #CCCCCC, #DDDDDD);
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 99px;
  height: 35px;
  width: 280px;
  text-align: center;
  padding-top: 6px;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  a {
    text-decoration: none;
  }
  a:visited {
    color: #111111;
  }
}

.connectHover {
  box-shadow: 0 0 6px black;
}

#home {
  background-color: #FF6F00;
  height: 400px;
  width: 500px;
  margin: 0 auto;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-top: 10%;
}

#homeLogo {
  text-align: center;
  padding-top: 20px;
}

$headerTiny: 2%;
$header0: 5%;
$header1: 25.5%;
$header2: 17%;
$header3: 12.5%;
$header4: 8%;

@media only screen 
and (max-width : 319px) {
  header {
    margin-right: $headerTiny;
    margin-left: $headerTiny;
  }
}

@media only screen 
and (min-width : 319px)
and (max-width : 439px) {
  header {
    margin-right: $header0;
    margin-left: $header0;
  }
}

@media only screen 
and (min-width : 439px)
and (max-width : 655px) {
  header {
    margin-right: $header1;
    margin-left: $header1;
  }
}

@media only screen
and (min-width : 655px)
and (max-width : 955px) {
  header {
    margin-right: $header2;
    margin-left: $header2;
  }
}

@media only screen
and (min-width : 955px)
and (max-width : 1255px) {
  header {
    margin-right: $header3;
    margin-left: $header3;
  }
}

@media only screen
and (min-width : 1255px) {
  header {
    margin-right: $header4;
    margin-left: $header4;
  }
}

.hidden {
  display: none;
}

header {
  text-align: left;
  font-size: 14px;
}

.authenticated {
  display: inline;
}

#disconnect {
  float: right;
  clear: both;
  display: inline-block;
}

#token {
  display: none;
}

.sound {
  display: inline-block;
  clear: both;
}

#wrapper {
  text-align: center;
  clear: both;
  padding-top: 20px;
}

iframe {
  height: 170px;
}

.number {
  text-align: center;
  display: inline;
  font-size: 16px;
}

#number {
  text-align: center;
  margin-bottom: 20px;
}