 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px;
}

$step1: 25.5%;
$step2: 17%;
$step3: 8.5%;

@media only screen 
and (max-width : 655px) {
  header {
    margin-right: $step1;
    margin-left: $step1;
  }
}

@media only screen
and (min-width : 655px)
and (max-width : 955px) {
  header {
    margin-right: $step2;
    margin-left: $step2;
  }
}

@media only screen
and (min-width : 955px)
and (max-width : 1255px) {
  header {
    margin-right: $step3;
    margin-left: $step3;
  }
}

.hidden {
  display: none;
}

header {
  text-align: left;
  font-size: 14px;
}

.authenticated {
  display: inline;
}

#logout {
  float: right;
  clear: both;
  display: inline-block;
}

#token {
  display: none;
}

.sound {
  display: inline-block;
  clear: both;
}

#wrapper {
  text-align: center;
  clear: both;
  padding-top: 20px;
}

iframe {
  height: 170px;
}