 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px;
  background-size: 100%;
}

.home {
  background-image: url('../images/background.jpg');
}

h1 {
  text-align: center;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 50px;
  margin: 0px;
  color: #333333;
}

h2 {
  color: #EEEEEE;
  text-align: center;
  font-size: 18px;
  margin: 25px;
  font-weight: normal;
  position: relative;
  top: -20px;
}

#logo {
  opacity: 0.9;
  height: 100px;
  width: 260px;
}

.authenticate {
  position: relative;
  top: -20px;
  color: #111111;
  background: linear-gradient(359deg, #CCCCCC, #DDDDDD);
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 99px;
  height: 35px;
  width: 280px;
  text-align: center;
  padding-top: 6px;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  text-decoration: none;
  a:visited {
    color: #111111;
  }
}

a.connect {
  text-decoration: none;
}

.connectHover {
  box-shadow: 0 0 6px black;
}

#home, #homeHalo {
  background-color: #FF6F00;
  height: 350px;
  width: 500px;
  margin: 0 auto;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-top: 10%;
  box-shadow: 0 0 3px 10px #FF6F00;
}

#homeHalo {
  box-shadow: 0 0 50px 10px white;
}

#homeLogo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px;
}

.hidden {
  display: none;
}

header {
  text-align: left;
  font-size: 14px;
}

button {
  display: inline;
  font-size: 12px;
}

.authenticated {
  display: inline;
}

#test {
  text-align: center;
}

#forms {
  float: right;
  clear: both;
  display: inline-block;
  position: relative;
  top: -4px;
}

#genre {
  text-align: center;
  position: relative;
  top: -20px;
  right: 160px;
}

#limit {
  float: right;
  position: relative;
  top: -45px;
}

#numberButton {
  position: relative;
  right: -10px;
}

#token {
  display: none;
}

.sound {
  display: inline-block;
  clear: both;
  z-index: 1;
  position: relative;
}

#wrapper {
  text-align: center;
  clear: both;
  padding-top: 20px;
  // background-image: url(../images/cloud.gif);
}

iframe {
  height: 170px;
}

.number {
  text-align: center;
  display: inline;
  font-size: 16px;
  height: 10px;
}

#number {
  text-align: center;
  margin-bottom: 20px;
}

$headerTiny: 2%;
$header0: 5%;
$header1: 25.5%;
$header2: 17%;
$header3: 12.5%;
$header4: 8%;

$offset0: 30px;

@media only screen 
and (max-width : 350px) {
  #home, #homeHalo {
    height: 400px;
    width: 300px;
  }
  header {
    margin-right: $header1;
    margin-left: $header1;
  }
  .authenticated {
    position: relative;
    left: 100px;
  }
  #genre {
    width: 400px;
    top: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    left: -20px - $offset0;
  }
  #limit {
    position: relative;
    top: 0px;
    float: none;
    right: -100px + $offset0;
  }
  #limitLineTwo {
    width: 300px;
    display: block;
    position: relative;
    top: -16px;
    left: -25px;
  }
  #limitLineThree {
    width: 300px;
    display: block;
    position: relative;
    top: -8px;
    left: -30px;
  }
  #submit {
    position: relative;
    right: 50px;
  }
  #numberButton{
    left: 40px - $offset0;
  }
}

@media only screen 
and (min-width : 350px)
and (max-width : 550px) {
  #home, #homeHalo {
    height: 400px;
    width: 300px;
  }
  header {
    margin-right: $header1;
    margin-left: $header1;
  }
  .authenticated {
    position: relative;
    left: 100px;
  }
  #genre {
    width: 400px;
    top: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    left: -20px - $offset0;
  }
  #limit {
    position: relative;
    top: 0px;
    float: none;
    right: -100px + $offset0;
  }
  #limitLineTwo {
    width: 300px;
    display: block;
    position: relative;
    top: -16px;
    left: -25px;
  }
  #limitLineThree {
    width: 300px;
    display: block;
    position: relative;
    top: -8px;
    left: -30px;
  }
  #submit {
    position: relative;
    right: 50px;
  }
  #numberButton{
    left: 40px - $offset0;
  }
}

@media only screen 
and (min-width : 550px)
and (max-width : 660px) {
  header {
    margin-right: $header1;
    margin-left: $header1;
  }
  .authenticated {
    position: relative;
    left: 100px;
  }
  #genre {
    width: 400px;
    top: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    left: -20px - $offset0;
  }
  #limit {
    position: relative;
    top: 0px;
    float: none;
    right: -100px + $offset0;
  }
  #limitLineTwo {
    width: 300px;
    display: block;
    position: relative;
    top: -16px;
    left: -25px;
  }
  #limitLineThree {
    width: 300px;
    display: block;
    position: relative;
    top: -8px;
    left: -30px;
  }
  #submit {
    position: relative;
    right: 50px;
  }
  #numberButton{
    left: 40px - $offset0;
  }
}

@media only screen
and (min-width : 660px)
and (max-width : 740px) {
  header {
    margin-right: $header1;
    margin-left: $header1;
  }
  .authenticated {
    position: relative;
    left: 100px;
  }
  #genre {
    width: 400px;
    top: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    left: -20px;
  }
  #limit {
    position: relative;
    top: 0px;
    float: none;
    right: -100px;
  }
  #limitLineTwo {
    width: 300px;
    display: block;
    position: relative;
    top: -16px;
    left: -25px;
  }
  #limitLineThree {
    width: 300px;
    display: block;
    position: relative;
    top: -8px;
    left: -30px;
  }
  #submit {
    position: relative;
    right: 50px;
  }
  #numberButton{
    left: 40px;
  }
}

@media only screen
and (min-width : 740px)
and (max-width : 830px) {
  header {
    margin-right: $header2;
    margin-left: $header2;
    text-align: center;
  }
  .authenticated {
    position: static;
  }
  #genre {
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #limit {
    position: relative;
    top: 0px;
    float: none;
  }
  #numberButton {
    position: relative;
    bottom: 8px;
  }
}

@media only screen
and (min-width : 830px)
and (max-width : 955px) {
  header {
    margin-right: $header2;
    margin-left: $header2;
    text-align: center;
  }
  .authenticated {
    position: static;
  }
  #genre {
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #limit {
    position: relative;
    top: 0px;
    float: none;
  }
  #wrapper {
    position: relative;
    top: -20px;
  }
}

@media only screen
and (min-width : 955px)
and (max-width : 1255px) {
  header {
    margin-right: $header3;
    margin-left: $header3;
  }
  #genre {
    top: 20px;
  }
}

@media only screen
and (min-width : 1255px) {
  header {
    margin-right: $header4;
    margin-left: $header4;
  }
}