 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  header {
    margin-left: 7.2%;
    margin-right: 7.2%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  header {
    margin-left: 7.2%;
    margin-right: 7.2%;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  header {
    margin-left: 7.2%;
    margin-right: 7.2%;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  header {
    margin-left: 7.2%;
    margin-right: 7.2%;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  header {
    margin-left: 7.2%;
    margin-right: 7.2%;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  header {
    margin-left: 7.2%;
    margin-right: 7.2%;
  }
}

.hidden {
  display: none;
}

header {
  text-align: left;
  font-size: 14px;
}

.authenticated {
  display: inline;
}

#logout {
  float: right;
  clear: both;
  display: inline-block;
}

#token {
  display: none;
}

.sound {
  display: inline-block;
  clear: both;
}

#wrapper {
  text-align: center;
  clear: both;
  padding-top: 20px;
}

iframe {
  height: 170px;
}